:root {
    --color-text: #000000;
    --color-shadow: #363949;
    --color-background: #fdfdfd;
    --card-border-radius: 1rem;
    --card-padding: 1.1rem 1rem;
    --box-shadow: 0.2rem 0.2rem 1rem #363949;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    background: var(--color-background);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.dash_container {
    display: grid;
    width: 97%;
    gap: 1.6rem;
    grid-template-columns: auto;
}

.analyse {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

.analyse>div {
    background-color: #fff;
    color: var(--color-text);
    backdrop-filter: blur(10px);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 8vw;
}


.analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.charts-container {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.6rem;

    .first-line {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        width: 100%;

        .line-chart {
            grid-column: span 2;
            height: 100%;
        }
    }

    .second-line {
        width: 100%;
    }

}

.chart_card {
    background-color: #fff;
    color: var(--color-text);
    backdrop-filter: blur(10px);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5vw;

}

#bar_chart{
    height: 100%;
    width: 100%;
    margin-bottom: -16vw;
    
}

/* --------------------------------------------------------------------- */

/* CONTAINER DO MAPA */
#container {
    position: relative;
    width: auto;
    height: 100%;
    overflow: auto;
    cursor: grab;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    border: 0.2vw solid var(--color-background);
}

#container::-webkit-scrollbar {
    display: none;
}


#mapa {
    position: relative;
    width: max-content;
    height: max-content;
}

#map-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 835px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 835px;
    pointer-events: none;
}

#overlay path {
    pointer-events: auto;
    cursor: pointer;
}





/* ---------------------------------------------------------------- */

#tooltip {
    position: absolute;
    padding: 8px 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Arial;
    font-size: 14px;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 999;
}

path {
    stroke: none;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: none;
    gap: 1.4rem;
    flex-direction: column;
    z-index: 9999;

    select {
        background-color: #9b9b9b;
        padding: 0.3vw;
        color: #fff;
        border-radius: 0.3vw;
        font-size: 1vw;
    }

}


button {
    background-color: #03a77e;
    color: #fff;
    padding: 0.4vw;
    border-radius: 0.5vw;
    width: 100%;
    font-size: 1vw;
}

#gerar_contrato {
    background-color: rgb(5, 123, 202);
}

#sidebar-close {
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

#popup-contrato {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    button {
        background-color: rgb(5, 123, 202);
    }
}

#popup-box {
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

#popup-box input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    cursor: pointer;
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 768px),
screen and (orientation: portrait) {

    .dash_container {
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        padding: 3vw;

    }

    .analyse {
        grid-template-columns: 1fr;
        gap: 5vw;

    }

    .analyse>div {
        height: 20vw;
    }

    .charts-container {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.6rem;

        .first-line {
            /* display: none; */
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            width: 100%;

            .chart_card {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }

            .line-chart {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }
        }

        .second-line {
            width: 100%;
            height: 80vh;
            margin-bottom: 5vw;

            .chart_card {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }

        }

    }

    #container {

        border: 1vw solid var(--color-background);

    }


}